@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .heroButtonSmall{
        @apply px-1.5 py-1 border border-[#242424] rounded-full uppercase text-xs text-gray-500
        transition-all hover:border-[#F7AB0A]/40 hover:text-[#F7AB0A]/40
    }

    .heroButton{
        @apply px-6 py-2 border border-[#242424] rounded-full uppercase text-sm tracking-widest text-gray-500
        transition-all hover:border-[#F7AB0A]/40 hover:text-[#F7AB0A]/40
    }

    .contactInput {
        @apply outline-none w-full bg-slate-400/10 text-sm sm:text-base rounded-sm border-b px-2 py-1 sm:px-6 sm:py-4 border-[#242424] text-gray-500 
        placeholder-gray-500 transition-all focus:border-[#F7AB0A]/40 focus:text-[#F7AB0A]/40 hover:border-[#F7AB0A]/40
    }

    .hexagon{
        @apply opacity-40
    }
    .hexagon{
        @apply opacity-40
    }
    
}

